@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1100px;
}

.main-index {
  background: #4687ff;
  background: linear-gradient(135deg, #f5f7fb 0%, #f5f7fb 50%, #4687ff 50%, #4687ff 100%);
  min-height: 100vh;
  width: 100%;
  padding: 45px;
  transition: padding .25s;
}

.main-index .wrapper {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1300px;
  background-color: #f5f7fb;
  box-shadow: 0px 8px 35px -10px rgba(0, 0, 0, 0.5);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-index {
    padding: 35px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-index {
    padding: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-index {
    padding: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-index {
    padding: 0px;
  }
  .main-index .wrapper {
    border-radius: 0px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-index {
    padding: 0px;
  }
  .main-index .wrapper {
    border-radius: 0px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .navbar {
  background-color: #fff;
  transition: all .25s;
  border: none;
  box-shadow: 0px 10px 35px -20px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.main-index .navbar .content-holder .nav-link {
  display: inline-block;
  line-height: 70px;
}

.main-index .navbar .content-holder .boards-menu-link {
  padding: 0px 25px;
  text-decoration: none;
  transition: all .25s;
}

.main-index .navbar .content-holder .boards-menu-link:hover {
  border-color: #b2b3b7;
  color: #b2b3b7;
}

.main-index .navbar .content-holder .boards-menu-link:hover .fa-th-large {
  color: #b2b3b7;
}

.main-index .navbar .left-container {
  padding-left: 0px;
}

.main-index .navbar .left-container .boards {
  color: #b2b3b7;
}

.main-index .navbar .left-container .boards .fa-th-large {
  transition: all .25s;
  color: #d6d6d6;
  margin-right: 8px;
  font-size: 22px;
  position: relative;
  top: 3px;
}

.main-index .navbar .center-container {
  text-align: center;
  padding: 0px 20px;
}

.main-index .navbar .center-container img {
  max-width: 55px;
}

.main-index .navbar .right-container {
  padding-right: 0px;
  text-align: right;
}

.main-index .navbar .right-container ul {
  margin: 0px;
  padding: 0px;
}

.main-index .navbar .right-container ul li {
  display: inline-block;
  list-style: none;
}

.main-index .navbar .right-container .hamburger-menu {
  color: #d6d6d6;
  border-left: 1px solid #d6d6d6;
  font-size: 20px;
  height: 100%;
  background-color: transparent;
}

.main-index .navbar .right-container .notifs-btn {
  color: #d6d6d6;
  font-size: 16px;
  background-color: transparent;
}

.main-index .navbar .right-container .profile .profile-welcoming {
  padding: 0px 15px;
  font-size: 16px;
  color: #1f2437;
}

.main-index .navbar .right-container .profile .profile-welcoming:hover {
  color: #4687ff;
}

.main-index .navbar .right-container .profile .profile-welcoming .profile-img {
  max-width: 30px;
  margin-right: 15px;
}

.main-index .navbar .right-container .dropdown.open .dropdown-toggle {
  color: #b2b3b7;
  background-color: #fff;
  border-color: #b2b3b7;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .items-content {
  padding: 25px 40px 40px 40px;
  height: 700px;
  transition: padding .25s;
}

.main-index .items-content .item-holder {
  margin-bottom: 30px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-index .todo-content {
    padding: 25px 35px 35px 35px;
    height: 700px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-index .todo-content {
    padding: 25px 35px 35px 35px;
    height: 700px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-index .todo-content {
    padding: 25px 35px 35px 35px;
    height: 700px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-index .todo-content {
    padding: 25px 0px 35px 0px;
    height: 700px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-index .todo-content {
    padding: 25px 0px 35px 0px;
    height: 700px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .todo-content .todo-navbar .left-container {
  text-align: left;
}

.main-index .todo-content .todo-navbar .center-container {
  text-align: center;
}

.main-index .todo-content .todo-navbar .right-container {
  text-align: right;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .items-content .user-item {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  transition: all .25s;
}

.main-index .items-content .user-item:hover {
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=all.css.map */
