@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1100px;
}

.main-index {
  background: #4687ff;
  background: linear-gradient(135deg, #f5f7fb 0%, #f5f7fb 50%, #4687ff 50%, #4687ff 100%);
  min-height: 100vh;
  width: 100%;
  padding: 45px;
  transition: padding .25s;
}

.main-index .wrapper {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1300px;
  background-color: #f5f7fb;
  box-shadow: 0px 8px 35px -10px rgba(0, 0, 0, 0.5);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-index {
    padding: 35px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-index {
    padding: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-index {
    padding: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-index {
    padding: 0px;
  }
  .main-index .wrapper {
    border-radius: 0px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-index {
    padding: 0px;
  }
  .main-index .wrapper {
    border-radius: 0px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .navbar {
  background-color: #fff;
  transition: all .25s;
  border: none;
  box-shadow: 0px 10px 35px -20px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.main-index .navbar .content-holder .nav-item {
  display: inline-block;
  line-height: 70px;
  padding: 0px 25px;
  text-decoration: none;
}

.main-index .navbar .content-holder .nav-link {
  transition: all .25s;
  color: #b2b3b7;
}

.main-index .navbar .content-holder .nav-link:hover {
  color: #7d7f86;
}

.main-index .navbar .content-holder .page-title {
  color: #b2b3b7;
  cursor: default;
}

.main-index .navbar .content-holder .emphasis {
  color: #4687ff;
}

.main-index .navbar .content-holder .emphasis:hover {
  color: #004edf;
}

.main-index .navbar .left-container {
  padding-left: 0px;
}

.main-index .navbar .center-container {
  text-align: center;
  padding: 0px;
}

.main-index .navbar .center-container .logo-link {
  display: inline-block;
  line-height: 70px;
  text-decoration: none;
  padding: 0px 15px;
}

.main-index .navbar .center-container img {
  max-width: 55px;
}

.main-index .navbar .right-container {
  padding-right: 0px;
  text-align: right;
}

.main-index .navbar .right-container ul {
  margin: 0px;
  padding: 0px;
}

.main-index .navbar .right-container ul li {
  display: inline-block;
  list-style: none;
}

.main-index .navbar .right-container .profile .profile-welcoming:hover {
  color: #4687ff;
}

.main-index .navbar .right-container .profile .profile-welcoming .welcome-message {
  margin-right: 15px;
}

.main-index .navbar .right-container .profile .profile-welcoming .profile-img {
  max-width: 30px;
}

.main-index .navbar .right-container .dropdown.open .dropdown-toggle {
  color: #b2b3b7;
  background-color: #fff;
  border-color: #b2b3b7;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .items-content {
  padding: 30px;
  transition: padding .25s;
}

.main-index .items-content .item-holder {
  max-width: 400px;
  margin: 0px auto 30px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-index .items-content {
    padding: 25px 35px 35px 35px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-index .items-content {
    padding: 25px 35px 35px 35px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-index .items-content {
    padding: 25px 35px 35px 35px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-index .items-content {
    padding: 25px 0px 35px 0px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-index .items-content {
    padding: 25px 0px 35px 0px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .items-content .user-item {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  transition: all .25s;
}

.main-index .items-content .user-item:hover {
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.5);
}

.main-index .items-content .user-item .user-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  cursor: default;
}

.main-index .items-content .user-item .user-name {
  margin: 20px 0px;
  text-align: center;
}

.main-index .items-content .user-item .user-name .name {
  margin-bottom: 8px;
  color: #1f2437;
  font-weight: 300;
}

.main-index .items-content .user-item .user-name .username {
  margin: 0px;
  color: #b2b3b7;
}

.main-index .items-content .user-item .tasksHolder {
  text-align: center;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0px;
  cursor: default;
}

.main-index .items-content .user-item .tasksHolder .taskCount {
  margin: 0px;
  font-size: 28px;
  font-weight: 300;
  color: #1f2437;
}

.main-index .items-content .user-item .tasksHolder .description {
  color: #b2b3b7;
  font-size: 12px;
  font-weight: 300;
  margin: 0px;
}

.main-index .items-content .user-item .linksHolder {
  padding: 0px;
}

.main-index .items-content .user-item .linksHolder a {
  padding: 15px 0px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  color: #b2b3b7;
  letter-spacing: 1px;
  transition: color .25s ease-in-out;
}

.main-index .items-content .user-item .linksHolder a:hover {
  color: #4687ff;
}

.main-index .items-content .user-item .linksHolder a:first-child {
  border-right: 1px solid #e9e9e9;
}

.main-index .items-content .user-item .linksHolder a .icon {
  font-size: 15px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-index .items-content .user-item:hover {
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-index .items-content .user-item:hover {
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-index .items-content .user-item:hover {
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-index .login-register-form {
  margin: 50px auto;
  padding: 50px;
  max-width: 400px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
  transition: padding .25s;
}

.main-index .login-register-form .header {
  margin: 0px 0px 20px 0px;
  font-weight: 300;
  font-size: 33px;
  text-align: center;
  color: #b2b3b7;
}

.main-index .login-register-form .small-input-holder:first-child {
  padding-right: 10px;
}

.main-index .login-register-form .small-input-holder:nth-child(2) {
  padding-left: 10px;
}

.main-index .login-register-form .input-group {
  outline: none;
  margin-bottom: 20px;
}

.main-index .login-register-form .input-group .input-group-addon {
  height: 45px;
  background-color: #fff;
  padding: 0px 20px;
  border: 1px solid #e9e9e9;
  border-right: none;
  color: #d6d6d6;
  font-size: 17px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.main-index .login-register-form .input-group .input-group-addon .fa {
  position: absolute;
}

.main-index .login-register-form .input-group .input-group-addon .fa-user {
  top: 14px;
  left: 15px;
}

.main-index .login-register-form .input-group .input-group-addon .fa-key {
  top: 14px;
  left: 13px;
}

.main-index .login-register-form .input-group .form-control {
  height: 45px;
  padding: 20px 5px 20px 15px;
  box-shadow: none;
  border: 1px solid #e9e9e9;
  font-size: 15px;
  font-weight: 300;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.main-index .login-register-form .input-group .form-control::-webkit-input-placeholder {
  color: #b2b3b7;
}

.main-index .login-register-form .input-group .form-control:-ms-input-placeholder {
  color: #b2b3b7;
}

.main-index .login-register-form .input-group .form-control::placeholder {
  color: #b2b3b7;
}

.main-index .login-register-form .input-group .form-control:focus {
  border: 1px solid #79a8ff;
}

.main-index .login-register-form .submit-button-holder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.main-index .login-register-form .submit-button-holder .forgot-password {
  color: #b2b3b7;
  font-size: 13px;
  text-decoration: none;
}

.main-index .login-register-form .submit-button-holder .submit-btn {
  color: #fff;
  background-color: #4687ff;
  box-shadow: 0px 8px 20px -5px #6098ff;
  border: none;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  transition: all .25s;
  outline: none;
}

.main-index .login-register-form .submit-button-holder .submit-btn:hover {
  background-color: #2d76ff;
  box-shadow: 0px 8px 20px -5px #4687ff;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 400px) {
  .main-index .login-register-form {
    padding: 20px 30px 30px 30px;
  }
}

/*# sourceMappingURL=all.css.map */
