@import "../variables/_variables.sass"

.main-index
  .items-content
    .user-item
      border: 1px solid rgb(233, 233, 233)
      background-color: #fff
      -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5)
      -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5)
      box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5)
      transition: all .25s
      &:hover
        -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5)
        -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5)
        box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5)
